---
###################
# Install terraform
###################

- name: Terraform | Create Terraform directory
  ansible.builtin.file:
    path: "{{ workstation_terraform_path }}"
    state: directory
    mode: '0774'
  tags:
    - terraform

- name: Terraform | Create Terraform version directory
  ansible.builtin.file:
    path: "{{ workstation_terraform_version_dir }}"
    state: directory
    mode: '0774'
  tags:
    - terraform

- name: Terraform | Check if terraform binary exists
  ansible.builtin.stat:
    path: "{{ workstation_terraform_version_bin }}"
  register: workstation_terraform_bin_st
  check_mode: false
  tags:
    - terraform

- name: Terraform | Download Terraform release
  ansible.builtin.get_url:
    url: "{{ workstation_terraform_url }}"
    dest: "{{ workstation_terraform_version_dir }}/{{ workstation_terraform_file }}"
    checksum: "{{ workstation_terraform_checksum }}"
    mode: '0664'
  when: not workstation_terraform_bin_st.stat.exists and not ansible_check_mode
  tags:
    - terraform

- name: Terraform | Extract Terraform binary
  ansible.builtin.unarchive:
    src: "{{ workstation_terraform_version_dir }}/{{ workstation_terraform_file }}"
    dest: "{{ workstation_terraform_version_dir }}"
    creates: "{{ workstation_terraform_version_bin }}"
  when: not workstation_terraform_bin_st.stat.exists and not ansible_check_mode
  tags:
    - terraform

- name: Terraform | Cleanup
  ansible.builtin.file:
    path: "{{ workstation_terraform_version_dir }}/{{ workstation_terraform_file }}"
    state: absent
  tags:
    - terraform

- name: Terraform | Symlink terraform to /usr/local/bin
  ansible.builtin.file:
    src: "{{ workstation_terraform_version_bin }}"
    dest: "{{ workstation_terraform_bin }}"
    state: link
  when: not ansible_check_mode
  tags:
    - terraform

- name: Terraform | Cleanup legacy binaries
  ansible.builtin.file:
    path: "{{ workstation_terraform_path }}/terraform"
    state: absent
  tags:
    - terraform

- name: Terraform | Check Terraform binary version
  ansible.builtin.shell: "set -o pipefail && terraform --version | grep '^Terraform v'"
  args:
    executable: /bin/bash
  register: workstation_terraform_bin_version
  changed_when: false
  check_mode: false
  when: not ansible_check_mode
  tags:
    - terraform

- name: Terraform | Terraform version
  ansible.builtin.set_fact:
    workstation_terraform_installed_version: >-
      {{ workstation_terraform_bin_version.stdout | replace('Terraform v', '') }}
  when: not ansible_check_mode
  tags:
    - terraform

- name: Terraform | Check that Terraform version is installed correctly
  ansible.builtin.assert:
    that: "workstation_terraform_installed_version == workstation_terraform_version"
  when: not ansible_check_mode
  tags:
    - terraform

####################
# Install terragrunt
####################

- name: Terragrunt | Check if terraform binary exists
  ansible.builtin.stat:
    path: "/usr/local/bin/terragrunt"
  register: workstation_terragrunt_bin_st
  check_mode: false
  tags:
    - terragrunt

- name: Terragrunt | Download Terragrunt release
  ansible.builtin.get_url:
    url: "{{ workstation_terragrunt_url }}"
    dest: "/usr/local/bin/terragrunt"
    checksum: "{{ workstation_terragrunt_checksum }}"
    mode: "0664"
  when: not workstation_terragrunt_bin_st.stat.exists
  tags:
    - terragrunt

- name: Terragrunt | set permissions
  ansible.builtin.file:
    path: "/usr/local/bin/terragrunt"
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
    mode: '0755'
  tags:
    - terragrunt

- name: Terragrunt | Check binary version
  ansible.builtin.shell: "set -o pipefail && terragrunt --version | cut -d ' ' -f3"
  args:
    executable: /bin/bash
  register: workstation_terragrunt_bin_version
  changed_when: false
  check_mode: false
  tags:
    - terragrunt

- name: Terragrunt | Terragrunt version
  ansible.builtin.set_fact:
    workstation_terragrunt_installed_version: >-
      {{ workstation_terragrunt_bin_version.stdout | replace('v', '') }}
  tags:
    - terragrunt

- name: Terragrunt | check version
  ansible.builtin.debug:
    msg:
      - "Current terragrunt version {{ workstation_terragrunt_installed_version }}"
      - "Desired terragrunt version {{ workstation_terragrunt_version }}"
  tags:
    - terragrunt

- name: Terragrunt | Check that Terragrunt version is installed correctly
  ansible.builtin.assert:
    that: "workstation_terragrunt_installed_version == workstation_terragrunt_version"
  when: not ansible_check_mode
  tags:
    - terragrunt

###################
# Install golang
###################

- name: Register the current Go version (if any)
  ansible.builtin.shell: "{{ workstation__golang_install_directory }}/go/bin/go version | cut -d ' ' -f3"
  ignore_errors: true
  register: workstation_golang_current_version
  changed_when: false
  check_mode: false
  tags:
    - golang

- name: Golang | check version
  ansible.builtin.debug:
    msg:
      - "Current golang version is {{ workstation_golang_current_version.stdout }}"
      - "Desired golang version is {{ workstation__golang_version }}"
  tags:
    - golang

- name: Golang
  when: workstation_golang_current_version.stdout != workstation__golang_version
  tags:
    - golang
  block:
    - name: Delete old golang version
      ansible.builtin.file:
        path: "{{ workstation__golang_install_directory }}/go"
        state: absent

    - name: Install golang
      ansible.builtin.get_url:
        url: "{{ workstation__golang_url }}"
        dest: "{{ workstation__golang_install_directory }}"
        mode: '0755'

    - name: Linux | Extract golang binary
      ansible.builtin.unarchive:
        src: "{{ workstation__golang_install_directory }}/{{ workstation__golang_file }}"
        dest: "{{ workstation__golang_install_directory }}"
      when: not ansible_check_mode

    - name: Golang cleanup
      ansible.builtin.file:
        path: "{{ workstation__golang_install_directory }}/{{ workstation__golang_file }}"
        state: absent

###################
# Install helm
###################
- name: Helm | Register the current version (if any)
  ansible.builtin.shell: '/usr/local/bin/helm version | cut -d ''"'' -f 2'
  ignore_errors: true
  register: workstation_helm_current_version
  changed_when: false
  check_mode: false
  tags:
    - helm

- name: Helm | check version
  ansible.builtin.debug:
    msg:
      - "Current helm version is {{ workstation_helm_current_version.stdout }}"
      - "Desired helm version is {{ workstation_helm_version }}"
  tags:
    - helm

- name: Helm
  when: workstation_helm_current_version.stdout != workstation_helm_version
  block:
    - name: Helm | Download
      ansible.builtin.get_url:
        url: "{{ workstation_helm_url }}"
        dest: /tmp/{{ workstation_helm_file }}
        mode: '0755'
      tags:
        - helm

    - name: Helm | Extract helm binary
      ansible.builtin.unarchive:
        src: "/tmp/{{ workstation_helm_file }}"
        dest: "/tmp/"
        creates: "/tmp/{{ workstation_helm_arch }}"
      when: not ansible_check_mode
      tags:
        - helm

    - name: Helm | copy file
      ansible.builtin.copy:
        src: "{{ workstation_helm_folder }}/helm"
        dest: "/usr/local/bin/helm"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: '0755'
      when: not ansible_check_mode
      tags:
        - helm

    - name: Helm | Cleanup
      ansible.builtin.file:
        path: "/tmp/{{ workstation_helm_file }}"
        state: absent
      tags:
        - helm

    - name: Helm | folder Cleanup
      ansible.builtin.file:
        path: "/tmp/{{ workstation_helm_arch }}"
        state: absent
      tags:
        - helm

###################
# Install helmfile
###################
- name: Helmfile | Register the current version (if any)
  ansible.builtin.shell: "/usr/local/bin/helmfile --version | cut -d ' ' -f 3"
  ignore_errors: true
  register: workstation_helmfile_current_version
  changed_when: false
  check_mode: false
  tags:
    - helmfile

- name: Helmfile | check version
  ansible.builtin.debug:
    msg:
      - "Current helmfile version is {{ workstation_helmfile_current_version.stdout }}"
      - "Desired helmfile version is {{ workstation_helmfile_version }}"
  tags:
    - helmfile

- name: Helmfile
  when: >-
    workstation_helmfile_current_version.stdout != workstation_helmfile_version
    and not ansible_check_mode
  block:
    - name: Helmfile | Download
      ansible.builtin.get_url:
        url: "{{ workstation_helmfile_url }}"
        dest: /tmp/{{ workstation_helmfile_file }}
        mode: '0755'
      tags:
        - helmfile

    - name: Helmfile | copy file
      ansible.builtin.copy:
        src: "{{ workstation_helmfile_folder }}/{{ workstation_helmfile_file }}"
        dest: "/usr/local/bin/helmfile"
        owner: "{{ lookup('env', 'USER') }}"
        group: "{{ lookup('env', 'USER') }}"
        mode: '0755'
      tags:
        - helmfile

    - name: Helmfile | Cleanup
      ansible.builtin.file:
        path: "/tmp/{{ workstation_helmfile_file }}"
        state: absent
      tags:
        - helmfile

##################
# Install neovim
##################

- name: Create neovim config directory
  ansible.builtin.file:
    path: /home/{{ lookup('env', 'USER') }}/.config/nvim
    state: directory
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
    mode: '0775'
  tags:
    - neovim

###################
# Configure neovim
###################

- name: Copy init.vim
  ansible.builtin.copy:
    src: init.vim
    dest: /home/{{ lookup('env', 'USER') }}/.config/nvim/init.vim
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
    mode: '0664'
  tags:
    - neovim

- name: Install vim-plug
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
    dest: /home/{{ lookup('env', 'USER') }}/.local/share/nvim/site/autoload/plug.vim
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
    mode: '0644'
  tags:
    - neovim

- name: Install nvim plugins
  ansible.builtin.command: nvim --headless +PlugInstall --sync +qall
  changed_when: false
  tags:
    - neovim

###################
# Install zshrc
###################

- name: Copy zshrc
  ansible.builtin.copy:
    src: zshrc
    dest: /home/{{ lookup('env', 'USER') }}/.zshrc
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
    mode: '0644'
  tags:
    - neovim
