---

- name: Update apt packages
  ansible.builtin.apt:
    update_cache: true
    cache_valid_time: 86400 # One day
  when: ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'

- name: Upgrade all packages to the latest version
  ansible.builtin.apt:
    upgrade: dist
  when:
    - ansible_distribution == 'Debian' or ansible_distribution == 'Ubuntu'
    - workstation_apt_full_upgrade | bool

- name: Install base packages
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - apt-transport-https
      - ca-certificates
      - software-properties-common
      - git
      - curl
      - tree
      - neovim
      - net-tools
      - python3-neovim
      - python3-pip
      - openvpn-systemd-resolved
      - remmina
      - flameshot
      - htop
      - nload
      - virtualbox
      - direnv
      - build-essential
      - tmux
      - tmate
      - fonts-powerline
      - xclip
      - openjdk-17-jdk-headless
      - nmap
      - nodejs
      - httping
      - dnsutils
      - zsh
      - xclip
      - xsel
      - nala

- name: Ensure APT keyrings directory exists
  ansible.builtin.file:
    path: /etc/apt/keyrings
    state: directory
    mode: "0755"

##################
# Install pgadmin4
##################

- name: Download pgadmin key
  ansible.builtin.get_url:
    url: "https://www.pgadmin.org/static/packages_pgadmin_org.pub"
    dest: /etc/apt/keyrings/pgadmin.asc
    mode: "0644"
    force: false
  tags:
    - pgadmin4

- name: Dearmor pgadmin key
  ansible.builtin.command:
    cmd: gpg --dearmor --yes --output /etc/apt/keyrings/pgadmin.gpg /etc/apt/keyrings/pgadmin.asc
    creates: /etc/apt/keyrings/pgadmin.gpg
  tags:
    - pgadmin4

- name: Add pgadmin4 repository
  ansible.builtin.apt_repository:
    repo: >-
      deb [arch=amd64 signed-by=/etc/apt/keyrings/pgadmin.gpg]
      https://ftp.postgresql.org/pub/pgadmin/pgadmin4/apt/{{ ansible_distribution_release }}
      pgadmin4 main
    filename: postgresql
    state: present
  tags:
    - pgadmin4

- name: Install pgadmin4
  ansible.builtin.apt:
    update_cache: true
    name: pgadmin4
    state: present
  tags:
    - pgadmin4


###################
# Install 1password
###################

- name: Add 1password key
  ansible.builtin.get_url:
    url: https://downloads.1password.com/linux/keys/1password.asc
    dest: /etc/apt/keyrings/1password.asc
    mode: '0644'
    force: false
  tags:
    - 1password

- name: De-armor 1password key
  ansible.builtin.command:
    cmd: gpg --dearmor --yes --output /etc/apt/keyrings/1password-archive-keyring.gpg /etc/apt/keyrings/1password.asc
    creates: /etc/apt/keyrings/1password-archive-keyring.gpg
  tags:
    - 1password

- name: Add 1password repository
  ansible.builtin.apt_repository:
    repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/1password-archive-keyring.gpg] https://downloads.1password.com/linux/debian/amd64 stable main
    filename: 1password
    state: present
  tags:
    - 1password

- name: Create the debsig-verify policy directory
  ansible.builtin.file:
    path: /etc/debsig/policies/AC2D62742012EA22
    state: directory
    mode: '0755'
    force: true
  tags:
    - 1password

- name: Add the debsig-verify policy
  ansible.builtin.get_url:
    url: https://downloads.1password.com/linux/debian/debsig/1password.pol
    dest: /etc/debsig/policies/AC2D62742012EA22/1password.pol
    mode: '0644'
    force: true
  tags:
    - 1password

- name: Create the debsig-verify policy directory
  ansible.builtin.file:
    path: /usr/share/debsig/keyrings/AC2D62742012EA22
    state: directory
    mode: '0755'
    force: true
  tags:
    - 1password

- name: Add the debsig-verify policy
  ansible.builtin.get_url:
    url: https://downloads.1password.com/linux/keys/1password.asc
    dest: /usr/share/debsig/keyrings/AC2D62742012EA22/debsig.asc
    mode: '0644'
    force: false
  tags:
    - 1password

- name: Install 1password
  ansible.builtin.apt:
    name: 1password
    state: present
  tags:
    - 1password

- name: Create 1Password directory
  ansible.builtin.file:
    path: /home/{{ lookup('env', 'USER') }}/.config/1Password/ssh
    state: directory
    recurse: true
    mode: '0700'
  tags:
    - 1password

##########################
# Install hashicorp packer
##########################

- name: Add hashicorp apt key
  ansible.builtin.get_url:
    url: "https://apt.releases.hashicorp.com/gpg"
    dest: /etc/apt/keyrings/hashicorp.asc
    mode: "0644"
    force: false
  tags:
    - packer

- name: Dearmor hashicorp apt key
  ansible.builtin.command:
    cmd: gpg --dearmor --yes --output /etc/apt/keyrings/hashicorp.gpg /etc/apt/keyrings/hashicorp.asc
    creates: /etc/apt/keyrings/hashicorp.gpg
  tags:
    - packer

- name: Add hashicorp repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/hashicorp.gpg] https://apt.releases.hashicorp.com {{ ansible_distribution_release }} main"
    filename: hashicorp
    state: present
  tags:
    - packer

- name: Install hashicorp packer
  ansible.builtin.apt:
    update_cache: true
    name: packer
    state: present
  tags:
    - packer

######################################
# Install sublime text / sublime merge
######################################

- name: Add sublimetext apt key
  ansible.builtin.get_url:
    url: "https://download.sublimetext.com/sublimehq-pub.gpg"
    dest: /etc/apt/keyrings/sublimehq-pub.gpg
    mode: "0644"
    force: false
  tags:
    - sublime-text

- name: Add sublimetext repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/sublimehq-pub.gpg] https://download.sublimetext.com/ apt/stable/"
    filename: sublime
    state: present
  tags:
    - sublime-text

- name: Install sublimetext & sublime merge
  ansible.builtin.apt:
    update_cache: true
    name: "{{ packages }}"
    state: present
  vars:
    packages:
      - sublime-text
      - sublime-merge
  tags:
    - sublime-text

################
# Install docker
################

- name: Add docker key
  ansible.builtin.get_url:
    url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
    dest: /etc/apt/keyrings/docker.asc
    mode: "0644"
    force: false
  tags:
    - docker

- name: Dearmor docker key
  ansible.builtin.command:
    cmd: gpg --dearmor --yes --output /etc/apt/keyrings/docker.gpg /etc/apt/keyrings/docker.asc
    creates: /etc/apt/keyrings/docker.gpg
  tags:
    - docker

- name: Add docker repository
  ansible.builtin.apt_repository:
    update_cache: true
    repo: >-
      deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg]
      https://download.docker.com/linux/{{ ansible_distribution | lower }}
      {{ ansible_distribution_release }} stable
    filename: docker
    state: present
  tags:
    - docker

- name: Install docker
  ansible.builtin.apt:
    name: docker-ce
    state: present
  tags:
    - docker

- name: Install docker-compose
  ansible.builtin.get_url:
    url: https://github.com/docker/compose/releases/download/{{ workstation_docker_compose_version }}/docker-compose-Linux-x86_64
    dest: /usr/local/bin/docker-compose
    mode: '0774'
  tags:
    - docker

- name: Ensure user primary group is set
  ansible.builtin.user:
    name: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
  tags:
    - docker

- name: Add user to docker supplemental group
  ansible.builtin.user:
    name: "{{ lookup('env', 'USER') }}"
    groups: docker
    append: true
  tags:
    - docker

#################
# Install kubectl
#################

- name: Add kubectl key
  ansible.builtin.get_url:
    url: "https://pkgs.k8s.io/core:/stable:/v1.29/deb/Release.key"
    dest: /etc/apt/keyrings/kubernetes-apt-keyring.asc
    mode: "0644"
    force: false
  tags:
    - k8s

- name: Dearmor kubectl key
  ansible.builtin.command:
    cmd: gpg --dearmor --yes --output /etc/apt/keyrings/kubernetes-apt-keyring.gpg /etc/apt/keyrings/kubernetes-apt-keyring.asc
    creates: /etc/apt/keyrings/kubernetes-apt-keyring.gpg
  tags:
    - k8s

- name: Add kubectl repository
  ansible.builtin.apt_repository:
    repo: deb [signed-by=/etc/apt/keyrings/kubernetes-apt-keyring.gpg] https://pkgs.k8s.io/core:/stable:/v1.29/deb/ /
    filename: kubernetes
    state: present
  tags:
    - k8s

- name: Install kubectl
  ansible.builtin.apt:
    update_cache: true
    name: kubectl
    state: present
  tags:
    - k8s

##################
# Install minikube
##################

- name: Install minikube
  ansible.builtin.get_url:
    url: https://storage.googleapis.com/minikube/releases/{{ workstation_minikube_version }}/minikube-linux-amd64
    dest: /usr/local/bin/minikube
    mode: '755'
  tags:
    - k8s

- name: Set minikube permissions
  ansible.builtin.file:
    path: /usr/local/bin/minikube
    owner: "{{ lookup('env', 'USER') }}"
    group: docker
    mode: '0755'
  tags:
    - k8s

######################
# Install OpenLens
######################

- name: Install Open Lens
  ansible.builtin.apt:
    deb: "{{ workstation_open_lens_url }}"
  tags:
    - lens

######################
# Install mozilla sops
######################

- name: Install mozilla sops
  ansible.builtin.apt:
    deb: "{{ workstation_sops_url }}"
  tags:
    - sops

##################################
# Install jwt-cli
##################################
- name: Extract archive | jwt-cli
  ansible.builtin.unarchive:
    src: https://github.com/mike-engel/jwt-cli/releases/download/4.0.0/jwt-linux.tar.gz
    dest: "/home/{{ lookup('env', 'USER') }}/.local/bin/"
    remote_src: true
  tags:
    - jwt-cli

- name: Set jwt-cli permissions
  ansible.builtin.file:
    path: /home/{{ lookup('env', 'USER') }}/.local/bin/jwt
    owner: "{{ lookup('env', 'USER') }}"
    group: "{{ lookup('env', 'USER') }}"
    mode: '0755'
  tags:
    - jwt-cli

##############
# Install mage
# #############
- name: Mage installation
  ansible.builtin.unarchive:
    src: "{{ workstation_mage_binary_url }}"
    dest: "/usr/local/bin/"
    include:
      - mage
    remote_src: true
  tags:
    - mage
